name: Build and Push Docker Images

on:
  push:
    paths:
      - 'r1/Dockerfile'
  workflow_dispatch:  # Manual trigger option

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ./r1/Dockerfile
          no-fail: true

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        compute_version: [80, 89, 90]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - run: df -h
    - name: "node-cleanup"
      run: |
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
        sudo docker image prune --all --force
        sudo docker builder prune -a
    - run: df -h

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: ./r1
        file: ./r1/Dockerfile
        push: true
        build-args: |
          COMPUTE_CAPABILITY_VERSION=${{ matrix.compute_version }}
        tags: |
          ghcr.io/${{ github.repository }}/vllm:${{ matrix.compute_version }}-latest
          ghcr.io/${{ github.repository }}/vllm:${{ matrix.compute_version }}-${{ github.sha }}
